---
layout: index
---

{% include intermedios/index/head.html %}
  <body id="page-top">
    {% include intermedios/index/header.html %}
    {% include intermedios/index/banner.html %}
    <!--{% include intermedios/index/services.html %}-->
    {% include intermedios/index/timeline.html %}
    {% include intermedios/index/portfolio.html %}
    {% include intermedios/index/teachers.html %}
    {% include intermedios/index/contactos.html %}
    {% include intermedios/index/footer.html %}
    {% include intermedios/index/js.html %}
  </body>
