<!-- About Section -->
<section id="about" class="content-section text-center">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 mx-auto">
        <h2>Aulas de clases</h2>
        <p>Durante años cada maestro de escuela dominical ha realizado un esfuerzo en estudiar y prepararse para ofrecer a sus alumnos un estudio adecuado de la Palabra de Dios, esto implica horas de intimidad con Dios en busca de revelación de su palabra, horas de preparación y estudio de la palabra de Dios y adicional a esto los nervios la preocupación y la angustia que esto pueda generar en cada maestro.</p>
        <p>Por tal motivo hemos tenido la iniciativa de recopilar los estudios Bíblicos en este sitio Web primeramente para la gloria de nuestro Dios y en segundo lugar para inmortalizar cada estudio Bíblico desarrollado por los maestros</p>
        <p>A cada maestro que se toma el tiempo para contribuir a este proyecto que nuestro Dios Bendiga su esfuerzo sabiendo que el sabra recompenzar.</p>
      </div>
    </div>
  </div>
</section>
