<!-- Intro Header -->
<header class="masthead">
  <div class="intro-body">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 mx-auto">
          <p class="intro-text"> Porque las cosas que se escribieron antes, para nuestra enseñanza se escribieron, a fin de que por la paciencia y la consolación de las Escrituras, tengamos esperanza <br>Romanos 15:4</p>
        </div>
      </div>
    </div>
    <!--<a href="#about" class="btn btn-circle js-scroll-trigger">
      <i class="fa fa-angle-double-down animated"></i>
    </a>-->
  </div>
</header>
