<!-- Download Section -->
<section id="download" class="download-section content-section text-center" style="background:url(/img/joven.jpg)">
  <div class="container">
    <div class="col-lg-8 mx-auto">
      <h2 class="fontGray">Intermedios</h2>
      <p class="fontGray">Ninguno tenga en poco tu juventud, sino sé ejemplo de los creyentes en palabra, conducta, amor, espíritu, fe y pureza -  1 timoteo 4:12 </p>
      <a href="intermedios/" class="btn btn-default btn-lg fontGray">Ir al salón</a>
    </div>
  </div>
</section>
